.main {
	grid-area: main;

	margin-inline: auto;
	outline: 1px dashed red;
	outline-offset: -2px;

	box-shadow: 0 0 0 100vmax hsl(from var(--color-surface-900) h s l / 0.5);
	width: theme('size.read');
	height: 200vh;
}
