.area-footer {
	grid-area: footer;
	pointer-events: none;
}

.footer {
	position: fixed;
	bottom: 0;

	background-color: var(--color-surface-950);
	width: 100%;

	height: var(--body__header--height);
}
